{% extends "backoffice/bases/detail.html" %}
{% load i18n %}
{% load backoffice %}

{% block title %}
    <div class="title is-4">{% trans "Data for user" %} {{ instance.get_full_name }}</div>
{% endblock title %}

{% block actions %}
    <div class="field is-grouped">
        <p class="control">
            <a class="button is-primary" href="{% url "backoffice:user-edit" pk=instance.pk %}">
                {% trans "Edit" %}
            </a>
        </p>
        <p class="control">
            <button id="delete" class="button is-danger">
                {% trans "Delete" %}
            </button>
        </p>
    </div>
{% endblock actions %}

{% block extra_content %}
    {% url "backoffice:user-delete" pk=instance.pk as delete_url %}
    {% include "backoffice/partials/delete_confirmation.html" with delete_url=delete_url %}
{% endblock extra_content %}