{% extends "backoffice/bases/detail.html" %}
{% load i18n %}
{% load backoffice %}

{% block title %}
    <div class="font-bold text-2xl">{% trans "Data for user" %} {{ instance.get_full_name }}</div>
{% endblock title %}

{% block actions %}
    <a class="button text-white bg-slate-900" href="{% url "backoffice:user-edit" pk=instance.pk %}">
        {% trans "Edit" %}
    </a>
    <button id="delete" class="button text-white bg-red-500">
        {% trans "Delete" %}
    </button>
{% endblock actions %}

{% block extra_content %}
    {% url "backoffice:user-delete" pk=instance.pk as delete_url %}
    {% include "backoffice/partials/delete_confirmation.html" with delete_url=delete_url %}
{% endblock extra_content %}