{% extends "backoffice/bases/list.html" %}
{% load backoffice %}
{% load humanize %}
{% load i18n %}

{% block title %}
    <div class="font-bold text-2xl">{% trans "Users" %}</div>
    <div class="subtitle is-6">{% trans "Total" %}: {{ paginator.count|intcomma }}</div>
{% endblock %}

{% block actions %}
    <a class="button text-white bg-slate-600" href="{% url "backoffice:user-create" %}">{% trans "Create user" %}</a>
    <a class="button text-white bg-slate-900" href="{% url "backoffice:user-export" %}?{{ request.GET.urlencode }}">
        {% trans "Export to CSV" %}
    </a>
{% endblock actions %}