{% extends "backoffice/bases/list.html" %}
{% load backoffice humanize i18n %}

{% block title %}
<div class="flex gap-2 mb-1">
  <div class="font-semibold text-lg text-slate-700">{% trans "Users" %}</div>
  <div
    class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-0 bg-slate-200 text-slate-600 rounded-full"
  >
    {{ paginator.count|intcomma }}
  </div>
</div>
<div class="font-light">{% trans "Users can interact with the web application, authenticate themselves, and access certain features and data based on assigned permissions." %}</div>
{% endblock title %}

{% block actions %}
<a
  href="{% url "backoffice:user-create" %}"
  class="primary-button inline-flex items-center"
>
  <svg
    class="h-4 w-4"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 4v16m8-8H4"
    ></path>
  </svg>
</a>
<a
  href="{% url "backoffice:user-export" %}?{{ request.GET.urlencode }}"
  class="secondary-button inline-flex items-center gap-2"
>
  <svg
    class="h-4 w-4"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
    ></path>
  </svg>
  <span>{% trans "Export" %}</span>
</a>
{% endblock actions %}
