{% for section, entries in sidebar %}
<div class="mb-4">
  <h6
    class="md:min-w-full text-slate-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
  >
    {{ section }}
  </h6>
  <ul class="md:flex-col md:min-w-full flex flex-col list-none">
    {% for url, label, active in entries %}
    <li class="items-center">
      <a
        href="{{ url }}"
        class="text-xs uppercase py-3 transition-colors font-bold block pl-4 {% if active %}text-link-active hover:text-link-active-hover{% else %}text-slote-700 hover:text-slote-500{% endif %}"
      >
        {{ label }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
