{% extends "backoffice/base.html" %}
{% load i18n %}
{% load backoffice %}

{% block body %}
  <div class="h-screen w-full grid grid-cols-8">
    <div class="col-span-1 bg-primary z-10">
        {% block sidebar %}
            <aside class="flex flex-col justify-between h-full">
                <div class="flex justify-center items-center border-b border-gray-700">
                    <a href="{{ index_url }}" class="text-white text-2xl font-bold p-4">
                        {% if backoffice_logo %}
                            <img src="{{ backoffice_logo }}" alt="{{ backoffice_title }}" class="w-full" />
                        {% else %}
                            {{ backoffice_title }}
                        {% endif %}
                    </a>
                </div>

                {% sidebar_menu %}

                <div class="flex items-center justify-center border-t border-gray-700 min-h-[6vh] h-[6vh]">
                    <a href="{{ sign_out }}" class="font-semibold flex gap-3 items-center text-white">
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                        </svg>
                        {% trans "Sign out" %}
                    </a>
                </div>
            </aside>
        {% endblock sidebar %}
    </div>
    <div class="col-span-7 main-wrapper overflow-auto">
        <div class="min-h-[94vh] p-8 bg-gray-100">
            {% for message in messages %}
                <div class="p-4 mb-4 text-white flex justify-between {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                    <button onclick="this.parentElement.style.display='none'">
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                            <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            {% endfor %}
            
            <section>
                {% block content %}
                {% endblock content %}
            </section>
        </div>

        {% block footer %}
            <footer class="flex justify-center items-center bg-white shadow min-h-[6vh] h-[6vh] border-l border-gray-200">
                {% blocktrans %}
                    <span class="font-bold text-primary">{{ backoffice_title }}</span>'s backoffice panel.
                {% endblocktrans %}
            </footer>
        {% endblock footer %}
    </div>
  </div>
{% endblock body %}
