{% extends "backoffice/base.html" %}
{% load i18n backoffice static %}

{% block body %}
  <nav
    class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
  >
    <div
      class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
    >
      <a
        href="{{ index_url }}"
        class="md:block text-left md:pb-2 text-slate-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
      >
        {% if backoffice_logo %}
          <img src="{% static 'images/logo.svg' %}" alt="{{ backoffice_title }}" class="w-full max-h-10" />
        {% else %}
          {{ backoffice_title }}
        {% endif %}
      </a>
      <button
        class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
        type="button"
        onclick="toggleNavbar()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
      <div
        id="navbarMenu"
        class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded bg-white md:m-0 md:p-0 m-2 py-3 px-6 hidden"
      >
        <div class="md:min-w-full md:hidden block">
          <div class="flex flex-wrap">
            <div class="w-6/12">
              <a
                href="{{ index_url }}"
                class="md:block text-left md:pb-2 text-slate-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
              >
                {% if backoffice_logo %}
                  <img src="{% static 'images/logo.svg' %}" alt="{{ backoffice_title }}" class="w-full max-h-10" />
                {% else %}
                  {{ backoffice_title }}
                {% endif %}
              </a>
            </div>
            <div class="w-6/12 flex justify-end">
              <button
                type="button"
                onclick="toggleNavbar()"
                class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <hr class="my-4 md:min-w-full" />
        {% sidebar_menu %}
      </div>
    </div>
  </nav>

  <div class="relative md:ml-64 bg-white min-h-screen">
    {% block header %}
    <div
      class="relative bg-header bg-no-repeat pb-32 pt-12 px-16"
    >
      <div class="mx-auto w-full flex justify-between">
        <div>{% block header_title %}{% endblock header_title %}</div>
        <a
          href="{{ sign_out }}"
          class="action-button flex gap-2 items-center"
        >
          {% trans "Sign out" %}
          <svg
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    {% endblock header %}

    <div class="mx-auto w-full -m-24 relative px-16">
      {% for message in messages %}
      <div class="rounded p-4 mb-4 text-white flex justify-between bg-{% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
        <button onclick="this.parentElement.style.display='none'">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
            <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      {% endfor %}
      {% block content %}{% endblock content %}

      {% block footer %}
      <footer class="block py-4">
        <div class="container mx-auto px-4">
          <hr class="mb-4 border-b-1 border-slate-200" />
          <div
            class="text-sm text-slate-500 font-semibold py-1 px-4 text-center md:text-left"
          >
            {% blocktrans %}{{ backoffice_title }} backoffice panel.{% endblocktrans %}
          </div>
        </div>
      </footer>
      {% endblock footer %}
    </div>
  </div>
{% endblock body %}

{% block script %}
<script>
  let openNavbar = false;

  function toggleNavbar() {
    let navbarMenu = document.getElementById("navbarMenu");

    if (!openNavbar) {
      navbarMenu.classList.remove("hidden");
      openNavbar = true;
      return;
    }

    navbarMenu.classList.add("hidden");
    openNavbar = false;
  }
</script>
{% endblock script %}
