{% extends "backoffice/layouts/default.html" %}
{% load humanize %}
{% load i18n %}

{% block content %}
<div class="bg-white w-full rounded mb-12 shadow-lg max-w-2xl mx-auto">
    <div class="p-8"> 
        <div class="font-semibold text-2xl text-slate-700 pb-2">
            {% blocktrans %}Welcome to {{ backoffice_title }} backoffice panel{% endblocktrans %}
        </div>
        <div>
            {% blocktrans %}
            On this site you can manage {{ backoffice_title }} content as long as you have permissions. For further questions, contact an administrator.
            {% endblocktrans %}
        </div>
    </div>
</div>
{% endblock content %}
