{% extends "backoffice/headers.html" %}
{% load i18n %}
{% load backoffice %}

{% block section %}
    <div class="column is-narrow">
        {% block sidebar %}
            <aside class="menu" style="min-width: 12rem">
                {% sidebar_menu %}
            </aside>
        {% endblock sidebar %}
    </div>
    <div class="column">
        {% if messages %}
            <div class="px-3 pt-4">
                {% for message in messages %}
                    <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <section class="section">
            {% block content %}
            {% endblock content %}
        </section>
    </div>
{% endblock section %}
