{% extends "backoffice/base.html" %}
{% load backoffice i18n %}

{% block body %}
<div class="flex h-screen items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-slate-100">
    <div class="max-w-md w-full space-y-4 bg-white px-8 py-10 shadow-lg rounded">
        <div class="text-3xl font-extrabold text-slote-700">
            {% trans "Welcome Back" %}
        </div>
        <div class="font-light text-lg pb-2">
            {% trans "Enter your credentials to access your account" %}
        </div>
        <form method="post" class="text-sm">
            {% csrf_token %}
            <div class="mb-4">
                <div class="text-slate-500 capitalize font-bold pb-1">{{ form.username.label }}</div>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-xs text-red-600 pt-2">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-6">
                <div class="text-slate-500 capitalize font-bold pb-1">{{ form.password.label }}</div>
                  {{ form.password }}
                {% if form.password.errors %}
                    <div class="text-xs text-red-600 pt-2">
                        {{ form.password.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="primary-button relative w-full">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
                </span>
                {% trans "Sign in" %}
            </button>
        </form>
    </div>
</div>
{% endblock body %}
