{% extends "backoffice/headers.html" %}
{% load i18n %}

{% block section %}
    <div class="column">
        <div class="columns is-centered">
            <div class="column" style="max-width: 480px">
                <section class="section">
                    <div class="has-box">
                        <div class="title is-3">{% trans "Sign in" %}</div>
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="notification is-danger">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            <div class="field">
                                <label class="label">{{ form.username.label }}</label>
                                <p class="control">
                                    {{ form.username }}
                                </p>
                                <div class="help is-danger">
                                    {{ form.username.errors }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">{{ form.password.label }}</label>
                                <p class="control">
                                    {{ form.password }}
                                </p>
                                <div class="help is-danger">
                                    {{ form.password.errors }}
                                </div>
                            </div>
                            <div class="field is-action pt-2">
                                <button class="button is-primary is-fullwidth">{% trans "Sign in" %}</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock section %}