{% extends "backoffice/sidebar.html" %}
{% load static %}
{% load i18n %}

{% load backoffice %}

{% block content %}
    <div class="has-box mb-4">
      <div class="columns">
        <div class="column">
          {% block title %}{% endblock title %}
        </div>
        {% block actions %}
        {% endblock actions %}
      </div>
    </div>
    <div class="has-box mb-4">
      <div class="columns">
        <div class="column">
          <table class="table is-fullwidth">
            {% for field in fields %}
              <tr>
                <th class="is-capitalized">{{ instance|verbose_name:field }}</th>
                <td>{{ instance|getattr:field }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% block extra_content %}
    {% endblock extra_content %}
{% endblock content %}
